$font-stack: Helvetica, sans-serif;
$main-background-color: #bbbcde;

$light-background-color: #eaedf7;
$dark-background-color: #522f60;

$light-font-color: #dbd0e6;
$dark-font-color: #522f60;

$zero: 0px;
$micro: 5px;
$little: 10px;
$middle: 30px;
$wide: 50px;

$font-little: 0.8em;
$font-default: 1.0em;
$font-big: 1.2em;
